style
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');
p, label, option,:placeholder-shown{
    font-family: "Inter", sans-serif;
}

h1, h2{
    font-family: "Roboto", sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    align-self: center;
    align-items: center;
    text-align: center;
    background-color: #1e293b;
    color: antiquewhite;
    height: 7rem;
    align-content: center;
    width: auto;
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-content: center;
    height: auto;
    background-color: wheat;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

nav li{
    display: inline;
    color: black;
    text-decoration: none;
    padding: 0 3rem 0 3rem;
    margin: 0;
}

a{
    text-decoration: none;
    margin: 0;
    color: black;
}

main{
    color: white;
    padding-bottom: 3rem;
}

form{
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 0 2rem 3rem 2rem;
    border: solid 1px rgba(198, 198, 198, 0.88);
    background-color: rgba(113, 132, 154, 0.871);
    border-radius: 1rem;

}

h1{
    padding: 3rem 0 3rem 3rem;
    width: auto;
    margin: 0;

}

label{
    display: block;
    padding-top: 2rem;
    padding-bottom: 0.2rem;
}

body{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('https://drgura.com/wp-content/uploads/physical-exam.jpg');
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    
    background-attachment: fixed;
}


fieldset{
    margin-top: 2rem;
}

fieldset label{
    display: inline;
    padding: 0;
}

.button{
    display: block;
    font-family: "Roboto", sans-serif;
}






